<div class="container">
  <h1>All our Flats (<%= @flats.count %>)</h1>

  <div class="cards">
    <% @flats.each do |flat| %>
      <div class="card-container">
        <div class="card-info">
          <h2><%= flat.name %></h2>
          <p><%= flat.address %></p>
          <div class="icons">
            <p><i class="fas fa-user-friends"> </i><%= flat.number_of_guests %></p>
            <p><i class="fas fa-euro-sign"> </i><%= flat.price_per_night %></p>
          </div>
        </div>
        <div class="card-links">
          <%= link_to "More info", flat_path(flat) %>
          <%= link_to "Edit flat", edit_flat_path(flat) %>
          <%= link_to "Remove", flat_path(flat),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Create flat", new_flat_path, class: "btn-green" %>
</div>
